<div class="comman_background1 homepage" style="background-color: #fff; margin-top:0px; padding-top: 40px;">
    <center style="margin-bottom: 40px;">
        <div>
            <div class="user-profileimg" ng-style="{'background-image': 'url(' + 'images' + '/' +'profile.jpg' + ')'}" ng-if="userSession.avatar && !userSession.facebookId"></div>
            <div class="user-profileimg" ng-style="{'background-image': 'url(' + userSession.avatar + ')'}" ng-if="userSession.avatar && userSession.facebookId"></div>
            <h3>{{userSession.user_name}}</h3>
            <p>{{userSession.user_email}}</p>
        </div>
    </center>
    <div class="container-fluid" style="background-color: #fff;">
        <ul class="nav nav-tabs col-md-9 col-md-offset-3" role="tablist">
            <li role="presentation" class="active">
                <a href="dashboard#all_products" aria-controls="all_products" role="tab" data-toggle="tab">
                    <span>ALL PRODUCTS</span>
                </a>
            </li>
            <li role="presentation">
                <a href="dashboard#sold_products" aria-controls="profile" role="tab" data-toggle="tab">
                    <span>SOLD PRODUCTS</span>
                </a>
            </li>
            <li role="presentation">
                <a href="dashboard#history" aria-controls="history" role="tab" data-toggle="tab">
                    <span>HISTORY</span></a>
            </li>
        </ul>
    </div>
    <section>
        <!-- Tab panes -->
        <div class="tab-content user_dashboard_back" style="padding: 40px;">
            <div role="tabpanel" class="tab-pane active " id="all_products" ng-controller="myProductCntrl">
                <div class="comman_background1 homepage">
                    <div class="">
                        <div id="gridWrap">
                            <ul class="dynamic-grid" angular-grid="userProductList" ag-grid-width="200" ag-gutter-size="20">
                                <li class="grid ng-scope img-loaded angular-grid-item" angulargridoptions="" data-ng-clock="" style=" height: 300px">
                                    <div style="text-align: center;" ui-sref="addproducts">
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <i class="fa fa-plus" aria-hidden="true" style="font-size: 30px;"></i>
                                        <br>
                                        <span>All New Products</span>
                                    </div>
                                </li>
                                <li data-ng-repeat="prod in userProductList" class="grid ng-scope img-loaded angular-grid-item" angulargridoptions="" data-ng-clock="">
                                    <a href="#" ui-sref="productdetails({productid:prod.UProduct_id})">
                                        <div class="user-productimg " ng-style="{'background-image': 'url(' + 'http://tifanee.fountaintechies.com' + 'assets' + '/' + 'productimages' + '/' + '-text.png' + ')'}" ng-if="!prod.ImageName"></div>
                                        <div class="user-productimg" ng-style="{'background-image': 'url(' + 'http://tifanee.fountaintechies.com' + '/' +'assets' + '/' + 'productimages' + '/' + prod.ImageName + ')'}" ng-if="prod.ImageName"></div>
                                        <div class="img-desc-wrap">
                                            <div class="title ng-binding">
                                                <a href="#" ui-sref="productdetails({productid:prod.UProduct_id})">{{prod.Ad_Title}}</a>
                                            </div>
                                            <div class="uploaded-date ng-binding">
                                                <a href="#" ui-sref="supercategoryproducts({supid:pic.maincatg_id})">{{prod.maincatg_name}}</a>
                                                <a ui-sref="categoryproducts({sid:prod.maincatg_id,catid:prod.catg_id})">{{prod.catg_name}}</a>
                                            </div>
                                            <div class="likes-watch-wrap">
                                                <div class="likes ng-binding">{{ prod.Price | currency:value=prod.CurrencySymbol}}</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="sold_products">
                <div class="homepage">
                    <div class="row portfolio"  style="padding: 0px 40px 20px 40px;">
                        <div class="col-lg-2 col-sm-3 col-xs-4 ">
                            <div class="panel panel-default">
                                <div>
                                    <div class="user-soldproductimg" ng-style="{'background-image': 'url(' + 'http://tifanee.fountaintechies.com' + '/' +'assets' + '/' + 'productimages' + '/' + '52345050522_product.jpg' + ')'}"></div>
                                </div>
                                <div class="sold_products_a">
                                    <a class="img-desc-wrap title">Spider man</a>
                                </div>
                                <div >
                                    <div class="sold_product_price">$10</div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                         <div class="col-lg-2 col-sm-3 col-xs-4 ">
                            <div class="panel panel-default">
                                <div>
                                    <div class="user-soldproductimg" ng-style="{'background-image': 'url(' + 'http://tifanee.fountaintechies.com' + '/' +'assets' + '/' + 'productimages' + '/' + '85044163791_product.jpg' + ')'}"></div>
                                </div>
                                <div class="sold_products_a">
                                    <a class="img-desc-wrap title">Demo Products </a>
                                </div>
                                <div >
                                    <div class="sold_product_price">$20</div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                         <div class="col-lg-2 col-sm-3 col-xs-4 ">
                            <div class="panel panel-default">
                                <div>
                                    <div class="user-soldproductimg" ng-style="{'background-image': 'url(' + 'http://tifanee.fountaintechies.com' + '/' +'assets' + '/' + 'productimages' + '/' + '52345050522_product.jpg' + ')'}"></div>
                                </div>
                                <div class="sold_products_a">
                                    <a class="img-desc-wrap title">Spider man</a>
                                </div>
                                <div class="likes-watch-wrap">
                                    <div class="sold_product_price">$10</div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                         <div class="col-lg-2 col-sm-3 col-xs-4 ">
                            <div class="panel panel-default">
                                <div>
                                    <div class="user-soldproductimg" ng-style="{'background-image': 'url(' + 'http://tifanee.fountaintechies.com' + '/' +'assets' + '/' + 'productimages' + '/' + '85044163791_product.jpg' + ')'}"></div>
                                </div>
                                <div class="sold_products_a">
                                    <a class="img-desc-wrap title">Demo Products </a>
                                </div>
                                <div class="likes-watch-wrap">
                                    <div class="sold_product_price">$20</div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                         <div class="col-lg-2 col-sm-3 col-xs-4 ">
                            <div class="panel panel-default">
                                <div>
                                    <div class="user-soldproductimg" ng-style="{'background-image': 'url(' + 'http://tifanee.fountaintechies.com' + '/' +'assets' + '/' + 'productimages' + '/' + '52345050522_product.jpg' + ')'}"></div>
                                </div>
                                <div class="sold_products_a">
                                    <a class="img-desc-wrap title">Spider man</a>
                                </div>
                                <div class="likes-watch-wrap">
                                    <div class="sold_product_price">$10</div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                         <div class="col-lg-2 col-sm-3 col-xs-4 ">
                            <div class="panel panel-default">
                                <div>
                                    <div class="user-soldproductimg" ng-style="{'background-image': 'url(' + 'http://tifanee.fountaintechies.com' + '/' +'assets' + '/' + 'productimages' + '/' + '85044163791_product.jpg' + ')'}"></div>
                                </div>
                                <div class="sold_products_a">
                                    <a class="img-desc-wrap title">Demo Products </a>
                                </div>
                                <div>
                                    <div class="sold_product_price">$20</div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="history">
               <div class="homepage">
                    <div class="row portfolio"  style="padding: 0px 40px 20px 40px;">
                        <div class="col-lg-2 col-sm-3 col-xs-4 ">
                            <div class="panel panel-default">
                                <div>
                                    <div class="user-soldproductimg" ng-style="{'background-image': 'url(' + 'http://tifanee.fountaintechies.com' + '/' +'assets' + '/' + 'productimages' + '/' + '52345050522_product.jpg' + ')'}"></div>
                                </div>
                                <div class="sold_products_a">
                                    <a class="img-desc-wrap title">Spider man</a>
                                </div>
                                <div >
                                    <div class="history_product_price"><span>Date: </span>23-12-2016</div>
                                    <div class="history_product_price"><span>Price: </span>$10</div>
                                    <div class="Product_history_status"><p>SOLD</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                         <div class="col-lg-2 col-sm-3 col-xs-4 ">
                            <div class="panel panel-default">
                                <div>
                                    <div class="user-soldproductimg" ng-style="{'background-image': 'url(' + 'http://tifanee.fountaintechies.com' + '/' +'assets' + '/' + 'productimages' + '/' + '85044163791_product.jpg' + ')'}"></div>
                                </div>
                                <div class="sold_products_a">
                                    <a class="img-desc-wrap title">Demo Products </a>
                                </div>
                                <div >
                                    <div class="history_product_price"><span>Date: </span>24-12-2016</div>
                                    <div class="history_product_price"><span>Price: </span>$20</div>
                                    <div class="Product_history_status"><p>SOLD</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                         <div class="col-lg-2 col-sm-3 col-xs-4 ">
                            <div class="panel panel-default">
                                <div>
                                    <div class="user-soldproductimg" ng-style="{'background-image': 'url(' + 'http://tifanee.fountaintechies.com' + '/' +'assets' + '/' + 'productimages' + '/' + '11890233471_product.jpg' + ')'}"></div>
                                </div>
                                <div class="sold_products_a">
                                    <a class="img-desc-wrap title">Red Ball</a>
                                </div>
                                <div >
                                    <div class="history_product_price"><span>Date: </span>21-12-2016</div>
                                    <div class="history_product_price"><span>Price: </span>$50</div>
                                    <div class="Product_history_status"><p>SOLD</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                         <div class="col-lg-2 col-sm-3 col-xs-4 ">
                            <div class="panel panel-default">
                                <div>
                                    <div class="user-soldproductimg" ng-style="{'background-image': 'url(' + 'http://tifanee.fountaintechies.com' + '/' +'assets' + '/' + 'productimages' + '/' + '37943981711_product.jpg' + ')'}"></div>
                                </div>
                                <div class="sold_products_a">
                                    <a class="img-desc-wrap title">Shoe Island</a>
                                </div>
                                 <div >
                                    <div class="history_product_price"><span>Date: </span>19-12-2016</div>
                                    <div class="history_product_price"><span>Price: </span>$100</div>
                                    <div class="Product_history_status"><p>ADDED</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                         <div class="col-lg-2 col-sm-3 col-xs-4 ">
                            <div class="panel panel-default">
                                <div>
                                    <div class="user-soldproductimg" ng-style="{'background-image': 'url(' + 'http://tifanee.fountaintechies.com' + '/' +'assets' + '/' + 'productimages' + '/' + '75228167965_product.jpg' + ')'}"></div>
                                </div>
                                <div class="sold_products_a">
                                    <a class="img-desc-wrap title">Camera</a>
                                </div>
                                 <div >
                                    <div class="history_product_price"><span>Date: </span>18-12-2016</div>
                                    <div class="history_product_price"><span>Price: </span>$900</div>
                                    <div class="Product_history_status"><p>ADDED</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                         <div class="col-lg-2 col-sm-3 col-xs-4 ">
                            <div class="panel panel-default">
                                <div>
                                    <div class="user-soldproductimg" ng-style="{'background-image': 'url(' + 'http://tifanee.fountaintechies.com' + '/' +'assets' + '/' + 'productimages' + '/' + '51470896029_product.jpg' + ')'}"></div>
                                </div>
                                <div class="sold_products_a">
                                    <a class="img-desc-wrap title">Camera</a>
                                </div>
                                 <div >
                                    <div class="history_product_price"><span>Date: </span>17-12-2016</div>
                                    <div class="history_product_price"><span>Price: </span>$800</div>
                                    <div class="Product_history_status"><p>ADDED</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
